###### Heroes Of Pymoli Data Analysis
* An overwhelming majority of the players are male accounting for 84% of 576 active players. Female players made up 14% leaving the remaining 2% of players who chose not to disclose their gender.

* The largest age group was that of 20-24 year olds who accounted for 44.8% of all players. The second largest group was the 15-19 year old group who made up 18.6% follwed by the 25-29 age group that 13.4%

* The biggest spenders appear to be the female players who spent on average $3.20 per purchase, 18 cents more than the male players. The undisclosed group spent even more at $3.35 per purchase. The age group that spent more per purchase than any other age group was the 35-39 year old age group, spending on average $3.60 per purchase.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = len(purchase_data_df["SN"].unique())
player_count_df = pd.DataFrame({"Total Players": [player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of unique items
unique_items = len(purchase_data_df["Item ID"].unique())
unique_items

183

In [4]:
# Average price
average_price = purchase_data_df["Price"].mean()
average_price

3.050987179487176

In [5]:
# Number of purchases
num_of_purchases = purchase_data_df["Purchase ID"].count()
num_of_purchases

780

In [6]:
# Total Revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [7]:
# Create summary data frame to hold the results
purchasing_summary = pd.DataFrame({"Number of Unique Items": [unique_items],                          
                                    "Average Price": [average_price],
                                    "Number of Purchases": [num_of_purchases], 
                                    "Total Revenue": [total_revenue]})
purchasing_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [8]:
# Formatted data frame
purchasing_summary["Average Price"] = purchasing_summary["Average Price"].map("${:.2f}".format)
purchasing_summary["Total Revenue"] = purchasing_summary["Total Revenue"].map("${:.2f}".format)

purchasing_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [9]:
# Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
# Filter the data so that only "Male" in the "Gender" are in a DataFrame
male_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]

male_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
# Get count of male players excluding duplicate "SN"
unique_male_SN = len(male_df["SN"].unique())

unique_male_SN

484

In [12]:
# Calculate percentage of male players
percent_male = (unique_male_SN / player_count) * 100
percent_male

84.02777777777779

In [13]:
# Filter the data so that only "Females" in the "Gender" are in a DataFrame
female_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]

female_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [14]:
# Get count of female players excluding duplicate "SN"
unique_female_SN = len(female_df["SN"].unique())

unique_female_SN

81

In [15]:
# Calculate percentage of female players
percent_female = (unique_female_SN / player_count) * 100

percent_female

14.0625

In [16]:
# Filter the data so that only "Other / Non-Disclosed" in the "Gender" are in a DataFrame
other_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]

other_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [17]:
# Get count of "Other / Non-Disclosed" excluding duplicate "SN"
unique_other_SN = len(other_df["SN"].unique())

unique_other_SN

11

In [18]:
# Calculate percentage of "other / non-disclosed" players
percent_other = (unique_other_SN / player_count) * 100

percent_other

1.9097222222222223

In [19]:
# Create new DataFrame for Gender Demographics, format percentage number, rename index
gender_demo = pd.DataFrame({"Total Count": [unique_male_SN, unique_female_SN, unique_other_SN],
                            "Percentage of Players": [percent_male, percent_female, percent_other]},
                            index = ["Male", "Female", "Other / Non-Disclosed"])
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:.2f}".format)

gender_demo

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# Calculate purchase count for Female
purchase_count_female = len(female_df)

purchase_count_female

113

In [21]:
# Calculate purchase count for Male
purchase_count_male = len(male_df)

purchase_count_male

652

In [22]:
# Calculate purchase count for Other
purchase_count_other = len(other_df)

purchase_count_other

15

In [23]:
# Calculate average purchase price for Female
avg_purchase_female = female_df["Price"].mean()

avg_purchase_female

3.203008849557519

In [24]:
# Calculate average purchase price for Male
avg_purchase_male = male_df["Price"].mean()

avg_purchase_male

3.0178527607361953

In [25]:
# Calculate average purchase price for Other
avg_purchase_other = other_df["Price"].mean()

avg_purchase_other

3.3460000000000005

In [26]:
# Calculate total purchase value for female
total_purchase_female = female_df["Price"].sum()

total_purchase_female

361.94

In [27]:
# Calculate total purchase value for male
total_purchase_male = male_df["Price"].sum()

total_purchase_male

1967.64

In [28]:
# Calculate total purchase value for other
total_purchase_other = other_df["Price"].sum()

total_purchase_other

50.19

In [29]:
# Calculate average total purchase per person, Female
avg_total_purchase_female = total_purchase_female / unique_female_SN

avg_total_purchase_female

4.468395061728395

In [30]:
# Calculate average total purchase per person, Male
avg_total_purchase_male = total_purchase_male / unique_male_SN

avg_total_purchase_male

4.065371900826446

In [31]:
# Calculate average total purchase per person, Other
avg_total_purchase_other = total_purchase_other / unique_other_SN

avg_total_purchase_other

4.5627272727272725

In [32]:
# Create new DataFrame for Purchasing Analysis, format percentage number, rename index
Purchasing_Analysis = pd.DataFrame({"Purchase Count": [purchase_count_female, purchase_count_male, purchase_count_other],
                            "Average Purchase Price": [avg_purchase_female, avg_purchase_male, avg_purchase_other],
                            "Total Purchase Value": [total_purchase_female, total_purchase_male, total_purchase_other],
                            "Avg Total Purchase per Person": [avg_total_purchase_female, avg_total_purchase_male, avg_total_purchase_other]},
                             index = ["Female", "Male", "Other / Non-Disclosed"])

Purchasing_Analysis["Average Purchase Price"] = Purchasing_Analysis["Average Purchase Price"].map("${:.2f}".format)
Purchasing_Analysis["Total Purchase Value"] = Purchasing_Analysis["Total Purchase Value"].map("${:.2f}".format)
Purchasing_Analysis["Avg Total Purchase per Person"] = Purchasing_Analysis["Avg Total Purchase per Person"].map("${:.2f}".format)


Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [33]:
#age_df = purchase_data_df["Age"]
#age_df.head()

In [34]:
# Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34" , "35-39", "40+"]

In [35]:
# Categorize the existing players using the age bins. Hint: use pd.cut()
pd.cut(purchase_data_df["Age"], bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [36]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39

In [37]:
# Calculate the count by age group
age_demo = purchase_data_df.groupby("Age Group")
age_group_count = age_demo["SN"].nunique()
age_group_count

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [38]:
# Calculate the percentages by age group
age_percentage = (age_group_count / 576) * 100
age_percentage

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [39]:
age_demo_df = [age_group_count, age_percentage]
age_demo_df = pd.DataFrame({"Total Count": age_group_count, 
                           "Percentage of Players": age_percentage})
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{:.2f}".format)

age_demo_df

           Total Count Percentage of Players
Age Group
<10                 17                  2.95
10-14               22                  3.82
15-19              107                 18.58
20-24              258                 44.79
25-29               77                 13.37
30-34               52                  9.03
35-39               31                  5.38
40+                 12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
# Purchase Count
purchase_count = age_demo["Purchase ID"].count()
purchase_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [41]:
# Average Purchase Price
avg_purchase_price = age_demo["Price"].sum() / purchase_count
avg_purchase_price

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
dtype: float64

In [42]:
# Total Purchase Value
total_purchase_value = age_demo["Price"].sum() 
total_purchase_value

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [43]:
# Avg Total Purchase per Person
avg_total_purchase = age_demo["Price"].sum() / age_group_count
avg_total_purchase

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [44]:
#age_demo_df = [age_group_count, age_percentage]
age_purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                           "Average Purchase Price": avg_purchase_price,
                                           "Total Purchase Value": total_purchase_value,
                                           "Avg Total Purchase per Person": avg_total_purchase})

age_purchasing_analysis_df["Average Purchase Price"] = age_purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
age_purchasing_analysis_df["Total Purchase Value"] = age_purchasing_analysis_df["Total Purchase Value"].map("${:.2f}".format)
age_purchasing_analysis_df["Avg Total Purchase per Person"] = age_purchasing_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)

age_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [45]:
# Purchase Count
top_spenders = purchase_data_df.groupby("SN")
spender_purchase_count = top_spenders["Purchase ID"].count()
spender_purchase_count.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Purchase ID, dtype: int64

In [46]:
# Average Purchase Price
top_avg_purchase = top_spenders["Price"].sum() / spender_purchase_count
top_avg_purchase.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
dtype: float64

In [47]:
# Total Purchase Value
spender_total_purchase = top_spenders["Price"].sum()
spender_total_purchase.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [48]:
#Top Spenders
top_spenders_df = pd.DataFrame({"Purchase Count": spender_purchase_count, 
                                "Average Purchase Price": top_avg_purchase,
                                "Total Purchase Value": spender_total_purchase})

top_spenders_df = top_spenders_df.sort_values("Purchase Count", ascending=False) 

top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:.2f}".format)


top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [67]:
# Group by Item ID and Item Name
item = purchase_data_df.groupby(["Item ID", "Item Name"])
item.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
731,731,Eudanu84,22,Female,12,Dawne,1.02,20-24
732,732,Eurithphos97,9,Male,97,"Swan Song, Gouger Of Terror",2.50,<10
733,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40,20-24
734,734,Arin32,25,Male,165,Bone Crushing Silver Skewer,4.86,25-29
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75,20-24
738,738,Eusur90,36,Male,121,Massacre,1.60,35-39
739,739,Mindirranya33,35,Male,61,Ragnarok,3.87,35-39
740,740,Reunasu60,22,Female,127,"Heartseeker, Reaver of Souls",3.92,20-24
742,742,Isty55,20,Male,5,Putrid Fan,4.08,20-24
744,744,Chanastst38,22,Male,94,Mourning Blade,3.49,20-24
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10,35-39
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27,20-24
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [50]:
# Purchase Count
item_purchase_count = item["Purchase ID"].count()
item_purchase_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Purchase ID, dtype: int64

In [81]:
item_price = item["Price"].max()

In [77]:
# Total Purchase Value
item_purchase_value = item_price * item_purchase_count
item_purchase_value.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
dtype: float64

In [80]:
#Popular Items
popular_items_df = pd.DataFrame({"Purchase Count": item_purchase_count, 
                                "Item Price": item_price,
                                "Total Purchase Value": item_purchase_value})

popular_items_df = popular_items_df.sort_values("Purchase Count", ascending=False) 

popular_items_df["Item Price"] = popular_items_df["Item Price"].map("${:.2f}".format)
popular_items_df["Total Purchase Value"] = popular_items_df["Total Purchase Value"].map("${:.2f}".format)

popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [88]:
#Most Profitable Items
popular_items_df = pd.DataFrame({"Purchase Count": item_purchase_count, 
                                "Item Price": item_price,
                                "Total Purchase Value": item_purchase_value})

popular_items_df = popular_items_df.sort_values("Total Purchase Value", ascending=False) 

popular_items_df["Item Price"] = popular_items_df["Item Price"].map("${:.2f}".format)
popular_items_df["Total Purchase Value"] = popular_items_df["Total Purchase Value"].map("${:.2f}".format)

popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80